:root {
  --bg-color: rgb(0, 0, 0);
  --primary-color: #8c76ff;
  --secondary-color: #ffffff;
}

body {
    background-color: var(--bg-color);
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
